<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout">

<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The Cellar" />
    <meta name="author" content="Ron Breier" />

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Datatables CSS -->
    <link th:href="@{/css/jquery.datatables.css}" rel="stylesheet" />
    <link th:href="@{/css/datatables.bootstrap.css}" rel="stylesheet" />

    <!-- Datatables Buttons CSS -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link th:href="@{/css/application.css}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- SmoothScroll -->
    <script th:src="@{/js/smoothscroll.js}"></script>


    <!-- Datatables Javascript -->
    <script th:src="@{/js/jquery.datatables.js}"></script>
    <script th:src="@{/js/datatables.bootstrap.js}"></script>

    <!-- Datatables Buttons Javascript -->
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap.js"></script>

    <!-- Application Javascript -->
    <script th:src="@{/js/application.js}"></script>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">The Cellar</title>

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu" class="full">

    <!-- Menu -->
    <nav th:replace="fragments/menu"></nav>
    <!-- /Menu -->

    <!-- Page Content -->
    <div layout:fragment="content"></div>
    <!-- /Page Content -->

</body>

</html>
