<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>


    <div th:id="add-beer-modal" class="modal fade themed-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Beer To Inventory</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form  th:object="${addBeerForm}"  id="add-beer-form" enctype="utf8">
                            <div class="col-md-10 col-md-offset-1">
                                <p id="add-beer-form-error" class="form-error" />
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('brewer')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="brewer">Brewer</label>
                                    <input type="text" autofocus="autofocus" class="form-control" id="brewer" th:field="*{brewer}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('beerName')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="beerName">Beer Name</label>
                                    <input type="text" class="form-control" id="beerName" th:field="*{beerName}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('style')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="style">Style</label>
                                    <input type="text" class="form-control" id="style" th:field="*{style}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('abv')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="abv">Alcohol By Volume</label>
                                    <input type="text" class="form-control" id="abv" th:field="*{abv}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('count')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="count">Count on Hand</label>
                                    <input type="text" class="form-control" id="count" th:field="*{count}" />
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" id="submit-add-beer-form" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:id="add-beer-success-modal" class="modal fade themed-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <p>You successfully added a beer to your inventory.</p>
                            <p><span id="successfully-added-beer-name"></span> is now part of your inventory.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:id="delete-beer-success-modal" class="modal fade themed-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <p>You successfully deleted a beer from your inventory.</p>
                            <p><span id="successfully-deleted-beer-name"></span> has been deleted from your inventory.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:id="edit-beer-modal" class="modal fade themed-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit an Existing Beer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form  th:object="${addBeerForm}"  id="edit-beer-form" enctype="utf8">
                            <div class="col-md-10 col-md-offset-1">
                                <p id="edit-beer-form-error" class="form-error" />
                                <input type="hidden" id="editing-pk" />
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('brewer')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="brewer-edit">Brewer</label>
                                    <input type="text" autofocus="autofocus" class="form-control" id="brewer-edit" th:field="*{brewer}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('beerName')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="beerName-edit">Beer Name</label>
                                    <input type="text" class="form-control" id="beerName-edit" th:field="*{beerName}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('style')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="style-edit">Style</label>
                                    <input type="text" class="form-control" id="style-edit" th:field="*{style}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('abv')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="abv-edit">Alcohol By Volume</label>
                                    <input type="text" class="form-control" id="abv-edit" th:field="*{abv}" />
                                </div>
                                <div class="form-group">
                                    <p class="form-error pull-right" th:each="error: ${#fields.errors('count')}" th:text="${' ' + error}">Validation Error</p>
                                    <label for="count-edit">Count on Hand</label>
                                    <input type="text" class="form-control" id="count-edit" th:field="*{count}" />
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" id="submit-edit-beer-form" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:id="edit-beer-success-modal" class="modal fade themed-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <p>You successfully edited a beer in your inventory.</p>
                            <p>Changes to <span id="successfully-edited-beer-name"></span> have been saved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>