<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/empty">

<head>

    <title>New Password Set</title>

</head>

<body>

<div layout:fragment="content">

    <!-- Choose Password Success Page -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-transparent">
                <div class="panel-heading text-center">
                    <h1>New Password Set</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <p><span th:text="${name}"></span> your password was successfully set. You have been logged out.</p>
                        <p>Click <a th:href="@{/login}">here</a> to return to the login screen.  Be sure to use your new credentials to login.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Choose Password Success Page -->


</div>

</body>

</html>
