<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/empty">

<head>

    <title>Successful Password Reset</title>

</head>

<body>

<div layout:fragment="content">

    <!-- Registration Success Page -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-transparent">
                <div class="panel-heading text-center">
                    <h1>Password Reset</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <p>Your request was successful. You will receive an email with your new password shortly.</p>
                        <p>Click <a th:href="@{/login}">here</a> to return to the login screen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Registration Success Page -->


</div>

</body>

</html>
