<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/empty">

<head>

    <title>Successful Registration</title>

</head>

<body>

<div layout:fragment="content">

    <!-- Registration Success Page -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-transparent">
                <div class="panel-heading text-center">
                    <h1>Complete Registration</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <p>Your registration was successful!</p>
                        <p>Now watch for an email from us to complete the process.  You will need to verify your email prior
                            to being able to access the site.</p>
                        <p>Inside the email, you will find a link that you will need to click in order to verify your email and
                            enable your login.</p>
                    </div>
                    <div class="col-md-6">
                        <p>First Name: <span th:text="${newUser.firstName}"></span></p>
                        <p>Last Name: <span th:text="${newUser.lastName}"></span></p>
                        <p>Email: <span th:text="${newUser.username}"></span></p>
                        <p>Phone: <span th:text="${newUser.phoneNumber}"></span></p>
                        <p>Click <a th:href="@{/dashboard}">here</a> to return to the log in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Registration Success Page -->


</div>

</body>

</html>
